.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 300px;
    height: 300px;
}

.cropit-preview-background {
    opacity: .2;
    cursor: auto;
}

.cropit-preview-image-container {
    cursor: move;
}

.border-exist {
    border-radius: 1;
    border-left: 1;
    border-right: 1;
}

.form-select {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.btn-long {
    width: 80%;
}

.border-divider {
    opacity: 100;
    margin-top: 40px;
    margin-bottom: 10px;
}

.border-divider-2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.table-bordered {
    border-spacing: 0 20px;
}

.form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

/* .form-select {
    color: #6e707e
} */
.form-line {
    border-bottom: 2px solid rgba(7, 3, 114, 1);
    width: 100%;
}

.form-control {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.form-label {
    color: #6e707e
}

.no-border {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.table {
    border-collapse: separate;
    border-spacing: 0 20px;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: none;
}

.manage-users-body {

    width: 60vw;
    font-family: 'Varela Round', sans-serif;
    border-radius: 15px;
    border: 1px solid rgb(194, 194, 194);
}

p {
    font-size: 12px;
}

.basic-details {
    height: 75vh;
    overflow-y: scroll;
    font-size: 14px;
}

.table-title {
    margin-top: 30px;
    border-radius: 3px 3px 0 0;
}

.navbar-bg {
    background: rgba(7, 3, 114);
}

.navbar {
    background: rgba(7, 3, 150);
}

.navbar-dark .navbar-nav .nav-link-1 {
    color: white;
    font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link-1:focus,
.navbar-dark .navbar-nav .nav-link-1:hover {
    color: #F6D55C;
}

.img-logo {
    height: 40px;
    width: 40px;
}

.img-logo-grad {
    height: 50px;
    width: 50px;
}

@media screen and (max-width:767px) {
    .manage-users-body {
        padding: 0px;

    }

    .basic-details {
        padding: 0px;
        margin: 0px;
    }

    .student-type {
        padding: 0px;
        margin: 0px;
    }

    .profile {
        padding: 0px;
        margin: 0px;
    }

    .other-details {
        padding: 0px;
        margin: 0px;
    }

}

.footer {
    color: white;
    margin-top: 5rem;
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgb(11, 125, 255) 20%, rgb(0, 68, 255) 60%, rgb(76, 17, 185));
    padding: 2rem;
}

.img-logo {
    height: 48px;
    width: 48px;
}

.footer-logo {
    height: 90px;
    width: 380px;
}

footer a {
    color: white;

}

footer ul {
    list-style: none;
    padding-left: 0;
}

.status-container {
    background-color: #f2f2f2;
    color: #555;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    float: right;
    margin-left: 10px;
}