
/* MAIN STYLE CSS */
.border-exist{
    border-left: 1;
    border-right: 1;
}

.hide{
    display:none;
    }
    
    
.button1 {
    font-size: small;
    position: relative;
    top: 50px;
    left: 5px;
    display: inline-block;
    background: #ffc107;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }

  .button1:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }

.button {
    position: relative;
    top: 50px;
    left: 70px;
    display: inline-block;
    background: #ffc107;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }
  @media screen and (min-width: 601px) {
    .button {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .button{
      font-size: 10px;
    }
  }

  @media screen and (min-width: 601px) {
    .button1 {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .button1 {
      font-size: 10px;
    }
  }


.card-title {
    padding: 20px;
  }
  
  @media screen and (min-width: 601px) {
    .card-title {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .card-title {
      font-size: 30px;
    }
  }

.card-wrap
{
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    background: white;
}

.input-medium
{
    width: 58%;
}
.btn-medium
{
    width: 10%;
}
.technical-form{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.border-strong
{
    border: 2px solid rgb(180, 180, 180);
}

.technical-btn
{
    border: 0;
    padding: 10px 32px;
    color: #070372;
    border-radius: 50px;
    border: 2px solid #070372;
    background: #fff;
    text-align: right;
}

.login-container
{
    width: 40vw;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
    background: #ffff;
    padding: 2rem 3rem;
    margin: auto;
}

.admin-login-container
{
    width: 40vw;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
    background: #ffff;
    padding: 2rem 3rem;
    margin: auto;
}

#hero-login
{
    height: 150%;
    width: 100%;
    background: linear-gradient(rgba(7, 3, 114, 0.8), rgba(7, 3, 114, 0.9)), url(../images/new-lnu-building.png) fixed center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.9;
    position: absolute;
}

.hero-main {
    background: url('/images/LNU.jpg') top center;
    width: 100%;
    height: 88vh;
    position: relative;
    background-size: cover;
}

.img-fit {
    height: 40%;
    width: 40%;
}

.technical-img
{
    width: 80%;
    height: 80%;
    background-size:cover;
    object-fit: cover;
}

.hero-body {
    height: 120vh;
    background: linear-gradient(rgba(7, 3, 114, 0.8), rgba(7, 3, 114, 0.9)), url(../images/new-lnu-building.png) fixed center center;
    background-size: cover;
    padding: 60px 0;
    background-attachment: scroll;
}



.hero-main::before{
    content: "";
    background: rgba(13, 17, 139, 0.8);
    position: absolute;
    height: 88vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
}

.carousel {
    margin: auto;
}

.navbar {
    background: rgba(7, 3, 114);
}

.img-logo {
    height: 40px;
    width: 40px;
}

.img-logo-grad {
    height: 50px;
    width: 50px;
}

.footer-logo {
    height: 90px;
    width: 380px;
}

.card {
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #F6D55C;
}

.main .card {
    border: none;
}

/* to prevent cascading: order media query from large to small */
.hero-img {
    width: 550px;
}

@media screen and (max-width:1200px) {
    .hero-img {
        width: 450px;
    }
}

@media screen and (max-width:992px) {
    .hero-img {
        width: 350px;
    }
}

@media screen and (max-width:767px) {
    .hero-img-col {
        display: none;
    }
}

.feature .card {
    box-shadow: 2px 10px 15px gray;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feature .card .card-text {
    font-size: 1.25rem;
}

.feature .card:hover {
    box-shadow: 2px 10px 45px gray;
    cursor: pointer;
}

.feature .card:active {
    box-shadow: 2px 10px 45px gray;
    background-color: #1e2fce;
    cursor: pointer;
}

.theme {
    color: #F6D55C;
}

.bg-none {
    background-color: transparent;
}

.card-title {
    padding: 1.25rem;
}

.footer {
    color: white;
    margin-top: 5rem;
    margin-bottom: 50px;
    background: rgba(7, 3, 114);
    padding: 2rem;
}


footer a {
    color: white;

}

footer ul {
    list-style: none;
    padding-left: 0;
}

.login {
    min-height: 70vh;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.basic-details{
    margin: 50px;
}

.profile{
    margin: 50px;
}

.faqs-student {
    height: 80vh;
}

.faqs-student p{
    padding-left: 380px;
}

.admission-body{
    width: 90vw;
    border-radius: 10px;
    border:1px solid rgb(194, 194, 194);
    
}