.manage-users-body {
    width: 70vw;
    font-family: 'Varela Round', sans-serif;
    border-radius: 15px;
    border:1px solid rgb(194, 194, 194);
}

.table-wrapper{
    height: 55vh;
    overflow-y:scroll;
}

.navbar {
    background: linear-gradient(90deg, rgb(11, 125, 255) 20%, rgb(0, 68, 255) 60%, rgb(76, 17, 185));
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #F6D55C;
}

.img-logo {
    height: 48px;
    width: 48px;
}

.footer-logo {
    height: 90px;
    width: 380px;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    padding: 16px 30px;
    margin-top: 30px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 22px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #d6d6d6;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 180px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

/* to prevent cascading: order media query from large to small */
.hero-img {
    width: 550px;
}

@media screen and (max-width:1200px) {
    .hero-img {
        width: 450px;
    }
}

@media screen and (max-width:992px) {
    .hero-img {
        width: 350px;
    }
}

@media screen and (max-width:767px) {
    .hero-img-col {
        display: none;
    }
}

.footer {
    color: white;
    margin-top: 5rem;
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgb(11, 125, 255) 20%, rgb(0, 68, 255) 60%, rgb(76, 17, 185));
    padding: 2rem;
}

footer a {
    color: white;

}

footer ul {
    list-style: none;
    padding-left: 0;
}